<div class="card">
    <div class="card-body">
        <h5 class="card-title">Operación</h5>
        <p class="card-text">Aquí puedes realizar diferentes operaciones entre dos numeros</p>
        <input type="number">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <input type="number">
        <input type="text">
    </div>
</div>
